.vs/WebApplication2/v15/.suo
.vs/WebApplication2/v15/Server/sqlite3/storage.ide-wal
.vs/WebApplication2/v15/Server/sqlite3/storage_REMOTE_11336.ide-wal
.vs/WebApplication2/v15/Server/sqlite3/storage_LOCAL_11336.ide-wal
.vs/WebApplication2/v15/Server/sqlite3/storage_BASE_11336.ide-wal
.vs/WebApplication2/v15/Server/sqlite3/storage.ide
